
# HTID:13048018: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
# php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13048018:
<IfModule mod_rewrite.c>         
    RewriteEngine On 
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteRule ^([^\.]+)$ $1.html [NC,L] 
</IfModule>